In [1]:
import pandas as pd

In [2]:
df_sorular = pd.read_csv("AnketSonuclari01_20210401.csv")

In [3]:
df_sorular

,question,soru,cevap,countAnswer,percentage
0,1,Sana ne hatırlatmamı isterdin? :),Su İçme,303891,0.3945
1,1,Sana ne hatırlatmamı isterdin? :),Uyku,80627,0.1047
2,1,Sana ne hatırlatmamı isterdin? :),İlaç,50850,0.0660
3,1,Sana ne hatırlatmamı isterdin? :),Tampon-Ped Değiştirme,334930,0.4348
4,2,Reglin düzenli mi?,Düzenli,206393,0.3832
...,...,...,...,...,...
392,126,Burcun ne tatlım?,Akrep,2559,0.0790
393,126,Burcun ne tatlım?,Yay,2248,0.0694
394,126,Burcun ne tatlım?,Oğlak,2567,0.0792
395,126,Burcun ne tatlım?,Kova,2502,0.0772
396,126,Burcun ne tatlım?,Balık,2533,0.0782

In [10]:
df_question=pd.read_excel("DataStudy02mail.xlsx",sheet_name="questions")

In [11]:
df

     question_id                                              title
0              1                  Sana ne hatırlatmamı isterdin? :)
1              2                                 Reglin düzenli mi?
2              3                           Yoğurttan tatlı olur mu?
3              4    Çok tatlısın, güzelsin, şekerci mi baban senin?
4              5                         Evcil hayvanın var mı? ? ?
..           ...                                                ...
107          111  Evindeki bireyleri hangisi daha doğru ifade ed...
108          112         Cilt tipin için hangisini söyleyebilirsin?
109          113               Ailenin aylık ortalama geliri nedir?
110          114  Bireysel ihtiyaçların için aylık ortalama ne k...
111          115  Pahalı ama çok beğendiğin bir ürün almak isted...

[112 rows x 2 columns]

In [12]:
df =pd.read_excel("DataStudy02mail.xlsx",sheet_name="Sheet4")

In [13]:
df

,AnalizID,yasGroup,q_1_Tampon-Ped Değiştirme,q_1_Su İçme,q_1_Uyku,q_1_İlaç,q_2_Düzensiz,q_2_Düzenli,q_3_Mükemmel olur!,q_3_Yok canım daha neler!,...,q_114_200 TL - 499 TL,q_114_500 TL – 999 TL,q_114_1.000 TL – 1.999 TL,q_114_2.000 TL - 2.999 TL,q_114_5.000 TL ve üstü,q_114_3.000 TL - 4.999 TL,q_115_Sanırım biraz daha beklemem gerekir.,"q_115_Gelirim/harçlığım genellikle yeterli, çok beğenirsem alırım.",q_115_Her zaman yedekte param var ve gerekirse kullanırım.,q_115_Sevdiklerim sayesinde ilk doğum günümde aldırırım.
0,1,20-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,15-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,20-24,0.0,1.0,0.0,0.0,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,20-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,20-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,20-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19996,19997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1.0
19997,19998,20-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19998,19999,20-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19999,20000,15-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df.columns[2:]

Index(['q_1_Tampon-Ped Değiştirme', 'q_1_Su İçme', 'q_1_Uyku', 'q_1_İlaç',
       'q_2_Düzensiz', 'q_2_Düzenli', 'q_3_Mükemmel olur!',
       'q_3_Yok canım daha neler!', 'q_4_A) Evet ?', 'q_4_B) A',
       ...
       'q_114_200 TL - 499 TL', 'q_114_500 TL – 999 TL',
       'q_114_1.000 TL – 1.999 TL', 'q_114_2.000 TL - 2.999 TL',
       'q_114_5.000 TL ve üstü', 'q_114_3.000 TL - 4.999 TL',
       'q_115_Sanırım biraz daha beklemem gerekir.',
       'q_115_Gelirim/harçlığım genellikle yeterli, çok beğenirsem alırım.',
       'q_115_Her zaman yedekte param var ve gerekirse kullanırım.',
       'q_115_Sevdiklerim sayesinde ilk doğum günümde aldırırım.'],
      dtype='object', length=320)

In [43]:
selected_question1 = df_question[df_question["title"] =="Sana ne hatırlatmamı isterdin? :)"]["question_id"][0]

In [55]:
selected_question2

2    3
Name: question_id, dtype: int64

In [56]:
selected_question2 = df_question[df_question["title"] =='Yoğurttan tatlı olur mu?']["question_id"]

KeyError: 0

In [ ]:
selected_question1.exted(selected_question2)

In [37]:
filter1=[i for i in df.columns[2:] if int(i.split("_")[1]) == selected_question1]

In [38]:
filter1.extend(["AnalizID","yasGroup"])

In [39]:
df.loc[:,filter1]

,q_1_Tampon-Ped Değiştirme,q_1_Su İçme,q_1_Uyku,q_1_İlaç,AnalizID,yasGroup
0,NaN,NaN,NaN,NaN,1,20-24
1,NaN,NaN,NaN,NaN,2,15-19
2,0.0,1.0,0.0,0.0,3,20-24
3,NaN,NaN,NaN,NaN,4,20-24
4,NaN,NaN,NaN,NaN,5,20-24
...,...,...,...,...,...,...
19995,NaN,NaN,NaN,NaN,19996,20-24
19996,NaN,NaN,NaN,NaN,19997,NaN
19997,NaN,NaN,NaN,NaN,19998,20-24
19998,NaN,NaN,NaN,NaN,19999,20-24
19999,NaN,NaN,NaN,NaN,20000,15-19

In [49]:
df_question["title"][2]

'Yoğurttan tatlı olur mu?'